<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template_Language</title>
</head>
<body>
    <h3>1. 반복문</h3>
    {% for menu in menus %}
        <p>{{ menu }}</p>
    {% endfor %}
    <hr/>
    {% for menu in menus %}
        <p>{{ forloop.counter }} {{ menu }}</p>
    {% endfor %}
    <hr/>
    {% for user in empty_list %}
        <p>{{ user }}</p>
    {% empty %}
        <!--empty : for 태그 안에 optional하게 있음, list가 비어있을 때 출력됨-->
        <p>현재 가입한 유저가 없습니다.</p>
    {% endfor %}
    <hr/>
    <h3>2. 조건문</h3>
    {% if '밥3' in menus %}
        <p>밥3가 menus에 있음</p>
    {% endif %}
    <hr/>

    {% for menu in menus %}
        {{ forloop.counter }}번째 도는 중
        {% if forloop.first %}
            <p>{{menu}}는 첫 번째 메뉴</p>
        {% else %}
            <p>{{menu}}</p>
        {% endif %}
    {% endfor %}
    <hr/>
    <h3>3. length filter 활용</h3>
    {% for message in messages %}
        {% if message|length > 5%}
            <p>글자가 김</p>
        {% else %}
            <p>{{ message}}, {{ message|length }}</p>
        {% endif %}
    {% endfor %}
    <hr/>
    <h3>4. lorem ipsum</h3>
    {% lorem %}
    <hr/>
    {% lorem 3 w %}
    <hr/>
    {% lorem 4 w random %}
    <hr/>
    <h3>5. 글자 수 제한(truncate)</h3>
    <p>{{ my_sentece|truncatewords:3 }}</p> 단어 단위로 제한
    <p>{{ my_sentece|truncatechars:3 }}</p> 문자 단위로 제한

    <h3>6. 글자 관련 필터</h3>
    <p>{{ 'abc'|length}}</p>
    <p>{{ 'ABC'|lower}}</p>
    <p>{{ my_sentece|title}}</p>
    <p>{{ menus|random }} </p>
    <hr/>

    <h3>7. 연산</h3>
    <p>{{ 4|add:6 }}</p>
    <hr/>

    <h3>8. 날짜 표현</h3>
    {{ datetimenow }}
    <p> {% now "DATETIME_FORMAT" %} </p>
    <p> {% now "SHORT_DATETIME_FORMAT" %} </p>
    <p> {% now "DATE_FORMAT" %} </p>
    <p> {% now "SHORT_DATE_FORMAT" %} </p>
    <hr/>
    {% now "Y년  m월 d일 (D) h:i" %}
    <hr/>
    {% now "Y" as current_year %}
    <p> Copyright {{ current_year }} </p>
    {{ datetimenow|date:"SHORT_DATE_FORMAT" }}
    <hr/>
    <p> {{ 'google.com'|url</p>
</body>
</html>